{% extends 'dashboard/base.html' %}
{% block title %}Add Aset{% endblock %}
{% block content %}



<nav class="sidebar-nav">
    <ul>
        <li class="active"><a href="{% url 'dashboard_staff' %}"><i class="fas fa-home"></i> Dashboard</a></li>
        <!-- <li><a href="/"><i class="fas fa-table"></i> Undanganku</a></li> -->
        <li><a href="{% url 'list_aset' %}"><i class="fas fa-credit-card"></i>List Asset</a></li>
        <li><a href="{%  url 'list_kategori' %}"><i class="fas fa-tools"></i>List Kategori</a></li>
        <li><a href="{% url 'list_posisi' %}"><i class="fas fa-map"></i>List Lokasi</a></li>
    </ul>
    <h3>Account Pages</h3>
    <ul>
        <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Sign Out</a></li>
    </ul>
</nav>
</aside>




<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Add Assets</span>
            <h2>Detail Assets</h2>
        </div>
        <div class="header-right">
            <a href="{% url 'add_assets' %}" class="btn-add"><i class="fas fa-plus"></i> Add Assets</a>
            <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
        </div>
    </header>
    
    <div class="container-ku">
    <div class="form-container">
        <h2>Umum</h2>
    <div class="form-section">
        <div class="form-group">
            <label>Nama Aset</label>
            <p style="font-size: large; color: black;">{{ asset.nama_aset }}</p>
        </div>
        <div class="form-group">
            <label>Kode Aset</label>
            <p style="font-size: large; color: black;">{{ asset.kode_aset }}</p>
        </div>
        <div class="form-group">
            <label>Kategori Aset</label>
            <p style="font-size: large; color: black;"> {% if asset.kategori %}
                {{ asset.kategori.nama }}
            {% else %}
                Tidak ada
            {% endif %}</p>
        </div>
        <div class="form-group">
            <label>Kondisi Aset</label>
        {% if asset.kondisi_aset == 'Rusak' %}
            <p style="color: rgb(255, 151, 16); font-size: large;">{{ asset.kondisi_aset }}</p>
        {% elif asset.kondisi_aset == 'Baik' %}
            <p style="color: green; font-size: large;">{{ asset.kondisi_aset }}</p>
        {% elif asset.kondisi_aset == 'Rusak Berat' %}
            <p style="color: red; font-size: large;">{{ asset.kondisi_aset }}</p>
        {% else %}
            {{ asset.kondisi_aset }}
        {% endif %}
        </div>


        <h2>QR Code</h2>
    {% if asset.qr_code %}
        <img src="{{ asset.qr_code.url }}" alt="QR Code" />
    {% else %}
        <p>QR Code tidak tersedia.</p>
    {% endif %}

    
        <div class="form-group">
            <label>Lokasi Aset</label>
            <p style="font-size: large; color: black;"> {% if asset.posisi_aset %}
                {{ asset.posisi_aset.lokasi }}
            {% else %}
                Tidak ada
            {% endif %}</p>
        </div>

    <h2>Detail Aset</h2>
    <div class="form-section">
        <div class="form-group">
            <label>MerK Aset</label>
            <p style="font-size: large; color: black;">{{ detail_aset.merk }}</p>
        </div>
        <div class="form-group">
            <label>Tipe Aset</label>
            <p style="font-size: large; color: black;">{{ detail_aset.tipe }}</p>
        </div>
        <div class="form-group">
            <label>Produsen Aset</label>
            <p style="font-size: large; color: black;"> {{ detail_aset.produsen }}</p>
        </div>
        <div class="form-group">
            <label>Kode Produksi Aset</label>
            <p style="font-size: large; color: black;">{{ detail_aset.no_seri_kode_produksi }}</p>
        </div>
        <div class="form-group">
            <label>Tahun Produksi Aset</label>
            <p style="font-size: large; color: black;"> {{ detail_aset.tahun_produksi }}</p>
        </div>

        <div class="form-group">
            <label>Deskripsi Aset</label>
            <p style="font-size: large; color: black;"> {{ detail_aset.deskripsi }}</p>
        </div>
        <div class="form-group">
            {% for item in lampiran %}
            {% if item.foto %}
                <img src="{{ item.foto.url }}" alt="lampiran" width="100%">
                <p>Gambar {{ asset.kategori.nama }} dengan kode Asset: {{ asset.kode_aset }}</p>
            {% else %}
                Tidak ada Foto
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="form-section">
        <h2>Detail Pembelian</h2>
        <div class="form-row">
            <div class="form-group">
                <label>Tanggal Kontrak</label>
                <p style="font-size: large; color: black;">{{ pembelian.tanggal_kontrak }}</p>
            </div>
            <div class="form-group">
                <label>Toko Distributor</label>
                <p style="font-size: large; color: black;">{{ pembelian.toko_distributor }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>No Kontrak</label>
                <p style="font-size: large; color: black;"> {{ pembelian.no_kontrak }}</p>
            </div>
            <div class="form-group">
                <label>Unit Aset</label>
                <p style="font-size: large; color: black;">{{ pembelian.unit }}</p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Harga Satuan</label>
                <p style="font-size: large; color: black;">  {{ pembelian.harga_satuan }}</p>
            </div>
            <div class="form-group">
                <label>Harga Total</label>
                <p style="font-size: large; color: black;"> {{ pembelian.harga_total }}</p>
            </div>
        </div>
    </div>



    
    <h2>Detail Aset</h2>
    <div class="form-section">
        <div class="form-group">
            <label>Keterangan Aset
            </label>
            {% for item in lampiran %}
            {% if item.keterangan %}
            <p style="font-size: large; color: black;">{{ item.keterangan }}</p>
            {% else %}
            Tidak ada Keterangan
            {% endif %}
            {% endfor %}
        </div>
        <!-- <div class="form-group">
            <label>Kode Aset</label>
            <p>{{ detail_aset.tipe }}</p>
        </div> -->
        
    </div>


      
    <h2>Detail Aset</h2>
    <div class="form-section">
        <div class="form-group">
            <label>Nama Penanggung Jawab</label>
            <p style="font-size: large; color: black;">{{ penanggung_jawab.nama }}</p>
        </div>
        <div class="form-group">
            <label>Jabatan</label>
            <p style="font-size: large; color: black;"> {{ penanggung_jawab.jabatan }}</p>
        </div>
        
    </div>


    <div class="footer">
        &copy; 2023 - Asset Management System
    </div>
    {% endblock %}