{% extends 'dashboard/base.html' %}
{% block title %}Add Aset{% endblock %}
{% block content %}



<nav class="sidebar-nav">
    <ul>
        <li><a href="{% url 'dashboard_staff' %}"><i class="fas fa-home"></i> Dashboard</a></li>
        <!-- <li><a href="/"><i class="fas fa-table"></i> Undanganku</a></li> -->
        <li><a href="{% url 'list_aset' %}"><i class="fas fa-credit-card"></i>Asset</a></li>
        <li class="active"><a href="{%  url 'list_kategori' %}"><i class="fas fa-tools"></i> Kategori</a></li>
        <li><a href="#"><i class="fas fa-tools"></i> Data</a></li>
    </ul>
    <h3>Account Pages</h3>
    <ul>
        <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Sign Out</a></li>
    </ul>
</nav>
</aside>




<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Add Assets</span>
            <h2>Assets</h2>
        </div>
        <div class="header-right">
            <a href="{% url 'add_assets' %}" class="btn-add"><i class="fas fa-plus"></i> Tambahkan Assets</a>
            <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
        </div>
    </header>

    <div class="custom-form-container">
        <form method="post" class="custom-kategori-form">
            {% csrf_token %}
            <div class="custom-form-group">
                {{ form.as_p }}
                <button type="submit" class="custom-btn-submit">Tambah Kategori</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
