{% extends 'dashboard/base.html' %}
{% block title %}Add Aset{% endblock %}
{% block content %}



<nav class="sidebar-nav">
    <ul>
        <li><a href="{% url 'dashboard_staff' %}"><i class="fas fa-home"></i> Dashboard</a></li>
        <!-- <li><a href="/"><i class="fas fa-table"></i> Undanganku</a></li> -->
        <li><a href="{% url 'list_aset' %}"><i class="fas fa-credit-card"></i>List Asset</a></li>
        <li class="active"><a href="{%  url 'list_kategori' %}"><i class="fas fa-tools"></i>List Kategori</a></li>
        <li><a href="{% url 'list_posisi' %}"><i class="fas fa-map"></i>List Lokasi</a></li>
    </ul>
    <h3>Account Pages</h3>
    <ul>
        <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Sign Out</a></li>
    </ul>
</nav>
</aside>




<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Daftar Kategori Aset</span>
            <h2>Kategori</h2>
        </div>
        <div class="header-right">
            <a href="{% url 'tambah_kategori' %}" class="btn-add"><i class="fas fa-plus"></i> Add Kategori</a>
            <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
        </div>
    </header>

    <div class="form-container">
       
              <table>
            <thead>
                <tr>
                    <th>Nama Kategori</th>
                    <th>Edit Kategori</th>
                    <th>Delete</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for kategori in kategoris %}
                    <tr>
                        <td data-label="Nama Kategori">{{ kategori.nama }}</td>
                       

                        <td data-label="Edit">
                            <a href="{% url 'edit_kategori' kategori.id %}" class="btn-edit"><i class="fas fa-pencil-alt"></i> Edit</a>
                           
                        </td>
                        <td data-label="Delete">
                            <form action="{% url 'delete_kategori' kategori.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn-delete" onclick="return confirm('Apakah Anda yakin ingin menghapus kategori ini?');">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                            </form>
                        </td>
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                
</div>
</div>

{% endblock %}
